<nav class="navbar has-shadow is-dark">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/home">
        <h1><strong>Angular Learn</strong></h1>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/home" routerLinkActive="is-active">
          Home
        </a>
        <a class="navbar-item" routerLink="/forms" routerLinkActive="is-active">
          Forms
        </a>
      </div>
    </div>
  </nav>
